In [1]:
mylist = [1,2,3,4]

In [2]:
mylist.insert #then click 'shift + tab'

In [4]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
?mylist.insert

Signature: mylist.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [6]:
def say_hello():
    print("Hello")

In [7]:
say_hello()

Hello

In [8]:
say_hello

In [9]:
def say_hello(name):
    print(f'Hello {name}')

In [10]:
say_hello('Felipe')

Hello Felipe

In [11]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [12]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [13]:
say_hello()

Hello Default

In [14]:
say_hello('Felipe')

Hello Felipe

In [15]:
def add_num(num1,num2):
    return num1 + num2

In [16]:
add_num(10,20)

30

In [17]:
result = add_num(10,20)

In [18]:
result

30

In [19]:
def print_result(a,b):
    print(a+b)

In [20]:
def return_result(a,b):
    return a+b

In [26]:
#there is no output cell showing you that a variable's being returned. Instead its just printing out the result.

print_result(10,20)

30

In [24]:
return_result(10,20)

30

In [27]:
print_result = print_result(10,20)

30

In [28]:
print_result

In [29]:
type(print_result)

NoneType

In [30]:
return_result(10,20)

30

In [31]:
returnresult = return_result(10,20)

In [32]:
returnresult

30

In [33]:
#Both print and return a+b

def myfunc(a,b):
    print(a+b)
    return a+b

In [34]:
type(returnresult)

int

In [35]:
result1 = myfunc(10,20)

30

In [36]:
result1

30

In [37]:
2 % 2

0

In [44]:
2 % 2 == 0

True

In [45]:
3 % 2

1

In [46]:
3 % 2 == 0

False

In [47]:
def even_check(number):
    result = number % 2 == 0
    return result

In [48]:
even_check(20)

True

In [49]:
even_check(21)

False

In [51]:
#Another way to define even_check()

def even_check(number):
    return number % 2 == 0

In [58]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST, OTHERWISE IT WILL NOT RETURN ANYTHING

def check_even_list(num_list):

    for number in num_list:
        if number % 2 == 0:
            return True #return is actually in the middle of the function. 
            #You can think of this return statement as essentially going to break off the entire function. Once you call return, that's it.
            #It doesn't always have to go at the end. In fact, you can have multiple returns inside of a function.
        else:
            pass #pass just means don't do anything

In [54]:
check_even_list([1,3,5])

In [55]:
check_even_list([2,4,5])

True

In [56]:
check_even_list([2,1,1,1])

True

In [57]:
check_even_list([1,1,1,2])

True

In [59]:
# IF WE TRY ADDING FALSE IF NO NUMBERS ARE EVEN IN LIST

#BEGINNER/ROOKIE MISTAKE CODE:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            return False # WRONG!!!!!!!!! BECAUSE IF THE FIRST ELEMENT IN OUR LIST IS ODD BUT WE HAVE EVEN NUMBERS IN OUR LIST THEN
                         # OUR FUNCTION WILL RETURN FALSE EVEN THOUGH IT SHOULD RETURN TRUE!
            # BEGGINNERS MAKE THE MISTAKE THAT ALL THE RETURN STATEMENTS SHOULD HAVE THE SAME LEVEL OF INDENTATION, WHICH IS NOT TRUE!!!
            #

In [60]:
check_even_list([1,3,5])

False

In [62]:
#THIS IS AN EXAMPLE WHERE OUR FUNCTION FAILS. IT SHOULD RETURN TRUE!
check_even_list([1,2,5])

False

In [66]:
#CORRECT CODE
#WHAT THIS IS SAYING IS THAT IF WE COMPLETED AND WE NEVER BROKE OUT OF THE FUNCTION WITH OUR RETURN STATEMENT, THEN RETURN FALSE
#WE WANT TO LOOP THROUGH ALL THE NUMBERS FIRST AND WE CAN SUE THESE PASS STATEMENTS AS PLACEHOLDERS TO ESSENTIALLY SAY, DON'T DO ANYTHING
#AND THEN IF WE DO NOT BREAK OUT OF OUR FUNCTION, THEN WE CAN SAFELY SAY WE HAVE NO EVEN NUMBERS IN OUR LIST AND RETURN FALSE.

def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    return False

In [67]:
check_even_list([1,3,5])

False

In [68]:
check_even_list([1,2,5])

True

In [69]:
# RETURN ALL THE EVEN NUMBERS IN A LIST. RETURN AN EMPTY LIST IF NONE ARE EVEN

def return_even_list(num_list):
    #placeholder variables for list of even numbers
    even_numbers = []

    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [70]:
return_even_list([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [71]:
return_even_list([1,3,5])

[]

In [72]:
#TUPLE UNPACKING WIHT PYTHON FUNCTIONS

In [73]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [74]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [75]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [76]:
for ticker,price in stock_prices:
    print(price + (.1*price))

220.0
440.0
110.0

In [77]:
work_hours = [('Abby', 100), ('Billy', 400), ('Cassie', 800)]

In [78]:
def employee_check(work_hours):

    current_max = 0
    employee_of_month = ''

    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month, current_max)

In [79]:
employee_check(work_hours)

('Cassie', 800)

In [80]:
result_ec = employee_check(work_hours)

In [81]:
result_ec

('Cassie', 800)

In [82]:
name,hours = employee_check(work_hours)

In [83]:
name

'Cassie'

In [84]:
hours

800

In [85]:
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [86]:
item = employee_check(work_hours)

In [87]:
item

('Cassie', 800)

In [88]:
#Guessing Game: "Three Cup Monte"

In [89]:
from random import shuffle

In [90]:
example = [1,2,3,4,5,6,7]

In [93]:
shuffle(example) #shuffle is an inplace function, it doesn't actually return anything, so if we want to set a variable equal to
#the shuffled list, we would have to create a function to do this.

In [92]:
example

[1, 2, 7, 5, 4, 6, 3]

In [94]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [95]:
resultshuffle = shuffle_list(example)

In [96]:
resultshuffle

[3, 7, 2, 6, 4, 5, 1]

In [97]:
mygamelist = [' ', 'O', ' ']

In [99]:
shuffle_list(mygamelist)

['O', ' ', ' ']

In [102]:
def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1, or 2")

    return int(guess) # we must convert to int because input function returns a string. We also need it as an integer to 
#directly index off of our game list.

In [103]:
player_guess()

Pick a number: 0, 1, or 2 1

1

In [104]:
myindex = player_guess()

Pick a number: 0, 1, or 2 1

In [105]:
myindex

1

In [110]:
#Our last function will combine our shuffle_list(mylist) function with our player_guess() function and will
#check to see if our guess is the correct guess and correct index for 'O' in our mygamelist.
#We are not actually returning anything. We are just showing whether we are correct or wrong in our guess and our final shuffled list.

def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print("Wrong guess!")
        print(mylist)

In [111]:
#OUR LAST SCRIPT WILL CALL ALL FUNCTIONS IN ORDER AND WILL RETURN WHETHER WE ARE CORRECT IN OUR GUESS.

#INITIAL LIST
mygamelist = [' ', 'O', ' ']

#SHUFFLE LIST
mixedup_list = shuffle_list(mygamelist)

#USER GUESS
guess = player_guess()

#CHECK
check_guess(mixedup_list, guess)

Pick a number: 0, 1, or 2 1

Wrong guess!
['O', ' ', ' ']

In [112]:
# *args and **kwargs

In [114]:
def myfunc(a,b):
    return sum((a,b))*.05

myfunc(40,60)

5.0

In [115]:
#METHOD 1 OF ADDING MORE ARGUMENTS
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(10,20,30)

3.0

In [116]:
#METHOD 1 OF ADDING MORE ARGUMENTS
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(10,20,30,10,10,100,100,100)

TypeError: myfunc() takes from 2 to 5 positional arguments but 8 were given

In [119]:
#METHOD 2 USING *ARGS IN OUR FUNCTION DEFINITION
#*args creates a tuple of values that we pass into our function and can perform iteration, sum, etc.

def myfunc(*args):
    return sum((args))*.05

myfunc(10,10,10,10,100,100,100,100)

22.0

In [120]:
def myfunc(*args):
    for item in args:
        print(item)

myfunc(40,60,100,1,34)

40
60
100
1
34

In [121]:
#**kwargs STANDS FOR KEYWORDED ARGUMENTS, SIMILAR TO *ARGS BUT THIS TIME WE USE **KWARGS
#TO BUILD A DICTIONARY OF KEY:VALUE PAIRS

In [126]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print(f'My fruit of choice is {kwargs['fruit']}')
    else:
        print('I did not find any fruit here')

In [129]:
#python is no longer complaining about multiple keyworded arguments because we defined myfunc with **kwargs
#which allows us to input as many key:value pairs and passes it as a dictionary to our function. Now we can
#call it however way we want and play around with it inside our functions

myfunc(fruit='apple',vegetable='carrots')

{'fruit': 'apple', 'vegetable': 'carrots'}
My fruit of choice is apple

In [143]:
#We can combine *args and **kwargs in the same function; *args must come before **kwargs

def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print(f'I would like {args[0]} {kwargs['food']}')

In [144]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [145]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog', 100)

SyntaxError: positional argument follows keyword argument (3514436398.py, line 1)

In [146]:
#We can combine *args and **kwargs in the same function; *args must come before **kwargs

def myfunc(**kwargs, *args):
    print(args)
    print(kwargs)
    print(f'I would like {args[0]} {kwargs['food']}')

SyntaxError: arguments cannot follow var-keyword argument (180552623.py, line 3)

In [136]:
myteststring = 'abc'

In [137]:
myteststring.index('a')

0

In [139]:
'a'.upper()

'A'

In [140]:
'A'.lower()

'a'

In [141]:
myteststring.join('a')
myteststring

'abc'

In [190]:
def myfunc1(mystring):
    
    updated_string = ''
    
    for index,letter in enumerate(mystring):
        if (index + 1) % 2 == 0:
            updated_string += letter.upper()
        else:
            updated_string += letter.lower()
            
    return updated_string

In [191]:
myfunc1('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

In [192]:
def square(num):
    return num**2

In [194]:
my_nums = [1,2,3,4,5]

In [195]:
map(square, my_nums)

In [196]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [197]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [198]:
def splicer(mystring):
    if len(mystring) % 2 ==0:
        return 'EVEN'
    else:
        return mystring[0]

In [199]:
names = ['Andy', 'Eve', 'Sally']

In [200]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [203]:
list(map(splicer(), names))

TypeError: splicer() missing 1 required positional argument: 'mystring'

In [204]:
def check_even(num):
    return num % 2 == 0

In [205]:
mynums = [1,2,3,4,5,6,7,8,9,10]

In [206]:
filter(check_even, mynums)

In [207]:
list(filter(check_even, mynums))

[2, 4, 6, 8, 10]

In [210]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [212]:
list(filter(lambda num:num % 2 == 0, mynums))

[2, 4, 6, 8, 10]

In [213]:
names

['Andy', 'Eve', 'Sally']

In [214]:
list(map(lambda name:name[0], names))

['A', 'E', 'S']

In [215]:
list(map(lambda name:name[::-1], names))

['ydnA', 'evE', 'yllaS']